body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #dcdcdc;
    margin: 0;
    padding: 20px;
    
}

h1 {
    color: #1f9de8;
    text-align: center;
    margin-top: 10px;
}

h2, h3 {
    color: #1f9de8;
}

h1 + p { 
    font-size: 1.2em; 
    color: #a1d1f1; 
    text-align: center; 
    margin-top: 10px; }

a {
    color: #1f9de8;
    text-decoration: none;
    border-bottom: 1px dashed #1f9de8;
}

a:hover {
    color: #fff;
    border-bottom: 1px solid #1f9de8;
}

nav {
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin: 0;
}

nav a {
    color: #dcdcdc;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: #1f9de8;
    color: #1e1e1e;
}

.section {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 8px;
    background-color: #2a2a2a;
}

.skills, .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill, .project {
    width: 48%;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project a {
    color: #1f9de8;
}

.project a:hover {
    color: #fff;
}

#logo { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 1000px; 
    height: auto; 
} 
